@import "variables";

.Filtering {
  margin-bottom: 30px;

  form {
    color: $color-white !important;
    margin-bottom: 60px;
  }

  .form-group {
    margin-right: 20px;
    width: 20%;
    @include mobile {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  .form-control {
    @include red-btn;
    height: 100%;
  }

  .clearFilters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    bottom: 0;
  }

  h6 {
    color: $color-white;
  }
}
